/* poppins font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* banner image animation */
@keyframes banner_image {
    from {
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
  }

/* banner section of header  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    background-color: #2D25A0;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-size: 1.5em;
    color: #FFFFFF;
}

.banner-title h1{
    width: 350px;
    height: 230px;
    font-weight: bolder;
    line-height: 80px;
}

.banner-title button{
    padding: 10px 24px ;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E02C6D;
}
.banner-title button:hover {
    
    background-color: #3DBAFD;
}

.banner .banner_img{
    width: 50%;  
}


.banner .banner_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    width: 557px;
    height: 438px;

    animation: banner_image 2s 1 normal fill-mode ;
}

.banner .banner_img:hover{
    animation: banner_image ease-in-out 1s 1 running ;
}

