/* banner section of header  */

.banner{
    background-color: #2D25A0;
    display: flex;
}

.banner-title{
    width: 50%;
}

.banner .banner_img{
    width: 50%;
}

.banner .banner_img img{
    width: 100%;
}