/* poppins font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* banner image animation */
@keyframes banner_image {
    from {
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
  }

/* banner section of header  */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    background-color: #2D25A0;
    width: 98.7vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-size: 1.5em;
    color: #FFFFFF;
}

.banner-title h1{
    width: 350px;
    height: 230px;
    font-weight: bolder;
    line-height: 80px;
}

.banner-title button{
    padding: 10px 24px ;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E02C6D;
}
.banner-title button:hover {
    
    background-color: #3DBAFD;
}

.banner .banner_img{
    width: 50%;  
}


.banner .banner_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    width: 557px;
    height: 438px;

    animation: banner_image 2s 1 normal fill-mode ;
}

.banner .banner_img:hover{
    animation: banner_image ease-in-out 1s 1 running ;
}


/* blog section of main content  */

.all-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 70px 150px;
}
.blog{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog-title h1{
    font-size: 28px;
}

.blog-image img{
    width: 100%;
}
/* partners section */

.products{
    margin : 150px 0px;
}

.products .product-title{
    margin-left: 330px;
    color: #2D25A0;
}
.product-catagory{
    display: flex;
}
.product{
    padding: 50px 50px 0px 50px;
}
.next-match{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    font-size:larger;
    background-color: #2D25A0;
    color: white;
    border-radius: 10px;

}

.next-match > h2{
    margin-top: 15%;
    color: #E02C6D;
}

.count-down{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.timer h2{
    margin: 0;
}

.time{
    margin: 0;
    font-size: 50px;
}

/* ----- footer section ------*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.all-footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 382px;
}
.footer-logo img {
    width: 100%;
}
.footer-icon i{
    padding: 5px;
    border-radius: 50%;
    color: #10437A;
    background-color: #b3b9cc;
}